# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Datasets generados (regenerables por script, no se versionan)
datasets/raw/*.npz
datasets/processed/*
!datasets/processed/.gitkeep

# Models
*.pth
*.pt
*.ckpt

# Logs
logs/

external_sumo_rl/